<div class="videos-row">
  <% @videos.each do |video| %>
    <div class="one-video">

      <div class="image">
        <%= image_tag video.image.variant(resize:'800x850') if video.image.attached? %>
      </div>

      <div class="title">
        <%= link_to video.title, video_path(video.id) %>
      </div>

    </div>
  <% end %>
</div>